.form {
    text-align: right;
}
.form button {
    font: inherit;
    cursor: pointer;
    background-color: #8A2B06;
    border: 1px solid #8A2B06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
.form button:hover, .form button:active {
    background-color: #641E03;
    border-color: #641E03;
}